Source: qtusb
Section: libs
Priority: optional
Maintainer: Fabien Poussin <fabien.poussin@gmail.com>
Build-Depends: debhelper (>= 9.2), qtbase5-dev, qtbase5-dev-tools, qtbase5-private-dev, qt5-qmake, qt5-default, libusb-1.0-0-dev, pkg-config, pkg-kde-tools, qttools5-dev-tools, qtbase5-doc, qtbase5-doc-html, libqt5sql5-sqlite, libhidapi-dev
Standards-Version: 4.1.1
Homepage: https://github.com/fpoussin/QtUsb
 
Package: libqt5usb5
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, libusb-1.0-0, libhidapi-libusb0, libhidapi-hidraw0
Description: USB library for QT
 A convenient way to use libusb 1.0 with your QT applications.

Package: libqt5usb5-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libqt5usb5 (= ${binary:Version}), qtbase5-dev, ${misc:Depends}, qtbase5-doc, qtbase5-doc-html
Description: Qt 5 USB development files
 .
 This package includes the development headers for the USB library.
